doctype html
html(lang='en', ng-app="newsApp")
	head
		meta(charset="utf-8")
		title Angular News
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css')

	body
		block content

		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js')
		script(src='/client.js')
		